
#loading{
    display: block;

    position: absolute;
    top: 22%;
    left: 45%;
    z-index: 100000;

    text-align: center;
    -webkit-box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
    -moz-box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
    box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);

}
#loading #imgLoading>img{
    width: 48px;
    height: 48px;
}
#loading #imgLoading{
    margin:auto;
}

#loading .panel-title{
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

#splash img{
    width: 48px;
    height: 48px;

}