RewriteEngine on
           # If a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward the request to index.php
# use index.php as index file

# Uncomment the following line if your public folder isn't the web server's root
# RewriteBase /
DirectoryIndex index.php

RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?$1 [L,QSA]